.movies-card__button-delete {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50px;
    align-self: flex-start;
    background: transparent;
    margin-top: 0;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../../images/icon-delete.svg);
    background-color: rgba(249, 249, 249, 1);
    cursor: pointer;
}

.movies-card__button-delete:hover {
    opacity: 0.8;
}
