.navigation {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navigation__container {
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
    justify-content: space-between;
}

.navigation__container-auth {
    width: 100%; 
    justify-content: space-between;
    margin-left: 406px;
    margin-right: 70px; 
}

.navigation__grid {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
}

.navigation__container_promo {
    gap: 30px;
}

.navigation__button {
   display: flex; 
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    height: 32px;
    justify-content: center;
    text-decoration: none;
    color: #fff;
}

.navigation__button:hover {
    opacity: 0.7;
}

.navigation__button-login {
    min-width: 76px;
    height: 32px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    border-radius: 3px;
    margin-right: 70px;
    color: rgba(0, 0, 0, 1);
    background: rgba(43, 224, 128, 1);
}

.navigation__profile {
    width: 100px;
    height: 32px;
    border-radius: 50px;
    background-color: #fff;
    /* box-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.1); */
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
}

.navigation__button-profile {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 12px;
    justify-content: space-between;
    padding: 0 3px 7px 11px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.navigation__button-profile:hover {
    opacity: 0.7;
}

.navigation__button-movies {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    justify-content: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}


.navigation__profile-icon-circle {
    width: 26px;
    height: 26px;
    border-radius: 50px;
    background-image: url('../../images/icon.svg');
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center; 
}

.navigation__profile-icon_promo {
    width: 100px;
    height: 32px;
    border-radius: 50px;
    background-color: rgba(43, 224, 128, 1);
}

.navigation__b-open-menu {
    display: none;
    width: 44px;
    height: 44px;
    border: none;
    margin-top: 15px;
    padding: 0;
    background-image: url('../../images/icon-menu.svg');
    background: #fff;
    cursor: pointer;
}

.navigation__b-open-menu:hover {
    opacity: 0.8;
}

  .navigation__b-open-menu-black {
        display: none;
    } 

.navigation__b-open-menu_promo {
    background: rgb(178, 198, 206);
    background-image: url('../../images/icon-menu.svg');
}

.navigation__menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: all .2s ease-in-out;
    z-index: 1;
}

.navigation__menu-active {
    display: none;
    transform: translateY(0);
    visibility: visible;
}

.navigation__menu-shadow {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, .3);
}

.navigation__menu-content {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 520px;
    height: 100vh;
    margin-left: auto;
    background: #fff;
}

.navigation__b-close-menu {
    position: absolute;
    width: 22px;
    height: 22px;
    border: none;
    background-size: cover;
    top: 27px;
    right: 27px;
    background-image: url('../../images/b-close.svg');
}

.navigation__b-close-menu:hover {
    opacity: 0.8;
}

.navigation__menubox {
    display: flex;
    min-height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    list-style: none;
    align-items: center;
    gap: 28px;
    padding-top: 159px;
    margin: 0;
}

.navigation__menubox-line:last-of-type {
    position: absolute;
    bottom: 92px;
}

.navigation__menubox-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    padding: 0;
    margin: 0;
    text-align: center;
    color: rgba(0, 0, 0, 1);

}

.navigation__menubox-text:active {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}


@media screen and (max-width: 767px) {

    .navigation {
        width: 200px;
    }

    .navigation__container-auth {
       display: flex;
    } 

    .navigation__button {
        font-size: 10px;
        line-height: 16px;
    }

    .navigation__button-login {
        min-width: 54px;
        height: 26px;
        margin-right: 14px;
    }

    .navigation__container_promo {
        gap: 14px;
    }

    .navigation__b-open-menu {
        display: flex;
        width: 40px;
        height: 43px;
        padding: 0;
        background-image: url('../../images/icon-menu.svg');
    }

    .navigation__b-open-menu-black {
        display: flex;
        background: transparent;
        margin: 0;
        bottom: 0;
        border: 0;
    }

    .navigation__menu-active {
        width: 320px;
    }

    .navigation__menu-content {
        width: 320px;
    }

    .navigation__grid {
      visibility: hidden;
    }

    .navigation__profile {
       visibility: hidden;
    }

}

@media screen and (min-width: 767px) and (max-width: 1279px) {
    .navigation {
        flex-direction: row;
    }

    .navigation__button-login {
        margin: 0;
    }

    .navigation__container-auth {
        width: 100%; 
        justify-content: space-between;
        align-items: center;
        margin-left: 406px;
        margin-right: 0; 
    }

    .navigation__b-open-menu {
        display: flex;
        background-image: url('../../images/icon-menu.svg');
        cursor: pointer;
    }

    .navigation__b-open-menu-black {
        display: flex;
        background: transparent;
        margin: 0;
        bottom: 0;
        border: 0;
    }


    .navigation__b-open-menu-inactive {
        display: none;
    }

     .navigation__container-auth {
        display: none;
    }

    .navigation__menu-active {
        display: flex;
    }
}
