.page__movies-card-list {
    padding: 70px 70px 50px 70px;
    width: 1140px;
    margin: 0 auto;
}

/* .movies-card-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.movies-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 4fr));
    padding: 0;
    margin: 0 auto;
    
}

@media screen and (max-width: 767px) {
    .page__movies-card-list {
        width: 300px;
        padding: 40px 10px 60px 10px;

    }

    .movies-list {
        width: 300px;
        gap: 14px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 767px) and (max-width: 1279px) {
    .page__movies-card-list {
        width: 720px;
        padding: 70px 30px 60px 30px;
    }

   .movies-list {
        width: 710px;
        gap: 30px;
       /* grid-template-columns: repeat(2, 1fr); */
    } 

}