.search {
    width: 100%;
    display: flex;
    align-items: center;
}

.search__form {
    width: 100%;
    max-width: 1140px;
    flex-direction: column;
    align-items: center;
    margin: 70px 70px 47px 70px;
    
}

.search__form-input-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.search__form-input {
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    padding-bottom: 13px;
    border: 0;
    color: rgba(160, 160, 160, 1); 
   width: 100%;
   
}

.search__form-button-submit {
    width: 58px;
    height: 34px;
    border-radius: 50px;
    border: 0;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 13px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(52, 86, 243, 1);
    cursor: pointer;
}

.search__form-button-submit:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .search__form {
        width: 292px;
    }

    .search__form {
       margin: 108px 14px 0 14px;
    }

   .search__form-input {
        font-size: 18;
        line-height: 22px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1279px) {
    .search__form {
       /* width: 708px; */
        margin: 98px 30px 60px 30px;
    }
}
