@import url(./vendor/fonts/fonts.css);
@import url(./vendor/normalize.css);

  /* * { outline: 1px solid yellow; } */

  /*"deploy": "npm run build && scp -r ./build/* movies@51.250.21.114:/home/movies/movies-explorer-frontend" */


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
